<h1 class="mt-3 mb-3">Cadastrar Produtos</h1>

<form action="/action_page" class="was-validated" [formGroup]="produtoForm"  (submit)="create()">
  <div class="container">
    <div class="row">
       <div class="col">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input  type="text" formControlName="nome" class="form-control" id="nome" placeholder="" name="nome" required>
    <div class="valid-feedback">Campo prenchido</div>
    <div class="invalid-feedback">Campo Obrigatório</div>
        </div>

      </div>
      <div class="col">
        <div class="mb-3">
          <label for="codigoDeBarra" class="form-label">Código de Barras</label>
          <input type="text" formControlName="codigoDeBarra" class="form-control" id="codigoDeBarra" pattern="\d*" maxlength="20" placeholder="" name="codigoDeBarra" required>
    <div class="valid-feedback">Campo prenchido</div>
    <div class="invalid-feedback">Campo Obrigatório</div>
        </div>
      </div>

      <div class="col">
        <div class="mb-3">
          <label for="preco" class="form-label">Preço</label>
          <input  type="text" formControlName="preco" class="form-control" id="preco" placeholder="R$" name="preco" >
    <div class="valid-feedback">Ok</div>
    <div class="invalid-feedback">Campo Obrigatório</div>
        </div>
      </div>

    </div>
    <a class="btn btn-secondary me-1" routerLink="/produtos">Voltar</a>
    <button class="btn btn-primary" type="submit" [disabled]="produtoForm.invalid" >Cadastrar</button>
  </div>
</form>

